
.path-navigation {
  height: 50px;
  padding: 0px;
  margin: 30px 0px 10px 50px;
}

.path-navigation i {
  line-height: 50px;
}

.path-navigation button{
  font-size: 18px;
  padding-left: 2px;
  padding-right: 2px;
  line-height: 50px;
}

.action-list {
  margin-left: 90%;
}

.clickable {
  cursor: pointer;
}

.file-list li {
  padding: 0px;
}

.active-filter {
  background-color: #ccc;
  border-radius: 50%;
}

.filter-target {
  vertical-align:middle;
}

ul li * {
  width: 100%;
}

.example-margin {
  margin: 0 10px;
}
