
<div class="explorer container-fluid">
  <div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="input-group">
          <input type="text" [(ngModel)]="newFolderNameInputValue" class="form-control" placeholder="folder's name" aria-describedby="basic-addon">
          <span class="input-group-addon clickable" id="basic-addon" (click)="createFolder(newFolderNameInputValue)">Create</span>
        </div>
        <div class="input-group">
          <input type="file" (change)="onChangeFileUpload($event)" class="form-control" name="filedata" aria-describedby="basic-addon-upload">
          <span class="input-group-addon clickable" id="basic-addon-upload" (click)="uploadFile('dropbox')">Upload</span>
        </div>
      </div>
    </div>

    <div class="row col-lg-12" *ngIf="driveSpace">
        <div *ngIf="driveSpace.dropbox" class="col-lg-6 col-md-6">
          <h4>Dropbox</h4>
          <div class="w3-light-grey">
            <div class="w3-container w3-blue w3-center" [ngStyle]="{'width': driveSpace.dropbox.pourcent + '%'} ">{{driveSpace.dropbox.pourcent | number: '1.2-2'}}%</div>
          </div>
          {{(driveSpace.dropbox.allocatedSpace - driveSpace.dropbox.usedSpace)/1024000000 | number: '1.2-2' }} Go free
        </div>

        <div *ngIf="driveSpace.google" class="col-lg-6 col-md-6">
          <h4>Google</h4>
          <div class="w3-light-grey">
            <div class="w3-container w3-blue w3-center" [ngStyle]="{'width': driveSpace.google.pourcent + '%'} ">{{driveSpace.google.pourcent | number: '1.2-2'}}%</div>
          </div>
          {{(driveSpace.google.allocatedSpace - driveSpace.google.usedSpace)/1024000000 | number: '1.2-2' }} Go free
        </div>
    </div>

    <div class="row" *ngIf="cutItem && canPaste()">
      <div class="col-md-offset-1">
        <button md-button (click)="moveItem()">Move Here</button>
      </div>
    </div>

    <div [hidden]="!success" class="alert alert-success">
      {{success}}
      <button class="btn" (click)="success = null">Close</button>
    </div>
    <div [hidden]="!error" class="alert alert-danger">
      {{error}}
      <button class="btn" (click)="error = null">Close</button>
    </div>
  </div>

  <div class="path-navigation">
    <i *ngIf="navigation.length > 1" class="material-icons" (click)="pop()">arrow_back</i>
    <span class="hidden-xs-down" *ngFor="let folder of navigation; let i = index;" >
      <button md-button (click)=setNavigation(i) >
        <span *ngIf="navigation[i].name == ''; then driveTemp else nameTemp"><{{navigation[i].name}}</span>
        <template #driveTemp>FilEsir</template>
        <template #nameTemp>{{navigation[i].name}}</template>
      </button>
      <i class="material-icons">keyboard_arrow_right</i>
    </span>
  </div>

  <!-- TODO
  <div *ngIf="itemSelector" class="action-list">
    <i *ngFor="let action of itemSelector.actions" class="material-icons" (click)="action.execute();">{{action.icon}}</i>
  </div> -->

  <div class="row file-list-title-bar col-lg-12">
    <div class="offset-lg-1 col-lg-4 offset-sm-2 col-sm-6">
      <div class="clickable" (click)="setContentFilter('name')">
        <i class="material-icons" [ngClass]="{'active-filter': getContentFilter().target === 'name'}" >swap_vert</i>
        <span class="filter-target">name</span>
      </div>
    </div>
    <div class="hidden-md-down row col-lg-5">
      <div class="col-lg-6">
        <div class="clickable" (click)="setContentFilter('size')">
          <i class="material-icons" [ngClass]="{'active-filter': getContentFilter().target === 'size'}">swap_vert</i>
          <span class="filter-target">size</span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="clickable" (click)="setContentFilter('modifiedDate')">
          <i class="material-icons" [ngClass]="{'active-filter': getContentFilter().target === 'modifiedDate'}" >swap_vert</i>
          <span class="filter-target">date</span>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group file-list">
    <li class="list-group-item" *ngFor="let elem of folders | display:getContentFilter()"><app-folder (click)="push(elem)" [element]="elem" (notifyCut)="cutItem = $event"></app-folder></li>
    <li class="list-group-item" *ngFor="let elem of files | display:getContentFilter()"><app-file [element]="elem" (notifyCut)="cutItem = $event"></app-file></li>
  </ul>

  <a id="download-file-link" [hidden]="true"></a>
</div>

<!-- for selection in <elementlder>
(notifySelect)="itemSelector = $event"
[ngClass]="{'active': itemSelector && itemSelector.item.name == elem.name }"
-->
