
<div (dblclick)="$event.stopPropagation();" (click)="$event.stopPropagation();">

  <div class="share-element" [hidden]="activeAction !== 'share'">
      <input type="email" class="form-control"  *ngIf="element.getKeys().dropbox && element.type() == 'File'" [(ngModel)]="inputValues.share.dropboxUserEmail" name="dropboxUserEmail" class="form-control" placeholder="dropbox user email">
      <input type="email" class="form-control"  *ngIf="element.getKeys().google" [(ngModel)]="inputValues.share.googleUserEmail" name="googleUserEmail" class="form-control" placeholder="google user email">

      <input type="submit" class="form-control" onclick="document.getElementById('share-element-form')[0].checkValidity();" (click)="element.share(inputValues.share, provider)" value="Add">
  </div>

  <div class="move-element" [hidden]="activeAction !== 'move'">
    <div class="move-element">
      <input type="text" [(ngModel)]="inputValues.share.dropboxUserEmail" class="form-control" placeholder="dropbox user email">
      <input type="submit" (click)="element.move(inputValues.share, provider)" value="Move">
    </div>
  </div>

  <div class="edit-element" [hidden]="activeAction !== 'edit'">
    <div class="rename-element    ">
      <input type="text" [(ngModel)]="editFileNameInputValue" class="form-control" placeholder="element's name" aria-describedby="basic-addon">
      <span class="input-group-addon clickable" id="basic-addon" (click)="element.edit(editFileNameInputValue, provider);">Edit</span>
    </div>
  </div>

  <div class="delete-element alert alert-danger" [hidden]="activeAction !== 'delete'">
    <strong>Are you sure ?!</strong> <button class="btn btn-danger" (click)="element.delete(provider); activeAction = null">Yes</button>
  </div>

  <div [hidden]="!element.error" class="display-error alert alert-danger">
    {{ element.error }}
    <button class="btn" (click)="element.error = null">Close</button>
  </div>

  <div [hidden]="!element.success" class="display-error alert alert-success">
    {{ element.success }}
    <button class="btn" (click)="element.success = null">Close</button>
  </div>

</div>
