.fill-remaining-space {
  flex: 1 1 auto;
}

.action-menu {
  z-index: 1000;
}

.mat-toolbar {
  font-size: 14px;
}

.md-small {
  width: 30px;
  height: 30px;
  line-height: 20px;
  min-height: 20px;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
  margin-right: 5px;
}

.md-small i{
  padding: 4px;
  line-height: 24px;
}
