
<md-toolbar *ngIf="element.display">
  <div class="row col-lg-12 col-12">
    <div class="col-6 col-lg-5 col-md-8 col-sm-8">
      <i *ngIf="element.getKeys().google" class="fa fa-google" aria-hidden="true"></i>
      <i *ngIf="element.getKeys().dropbox " class="fa fa-dropbox" aria-hidden="true"></i>
      <i *ngIf="!element.shared" class="fa fa-folder" aria-hidden="true"></i>
      <i *ngIf="element.shared" class="material-icons">folder_shared</i>
      {{ element.name }}
    </div>

    <div class="row hidden-md-down col-lg-5 col-md-5">
      <div class="col-lg-6">
        ...
      </div>
      <div class="col-lg-6">
        {{ element.modifiedDate | date:'medium' }}
      </div>
    </div>

    <div class="offset-0 col-6 offset-lg-1 col-lg-1 col-md-3 offset-sm-1 col-sm-3">
      <button *ngFor="let action of actions" md-fab class="md-small" (dblclick)="$event.stopPropagation();" (click)="action.execute(); $event.stopPropagation();"> <i class="material-icons">{{action.icon}}</i> </button>
    </div>
  </div>
</md-toolbar>


<app-action [element]="element"></app-action>
