
<div class="logging container-fluid">
  <div class="alert alert-danger" [hidden]="!getError()">
    {{getError()}}
  </div>

  <div class="row drive-accounts">
    <app-drive-account class="offset-sm-2 col-sm-3" [drive]="'dropbox'"></app-drive-account>
    <app-drive-account class="offset-sm-2 col-sm-3" [drive]="'gDrive'"></app-drive-account>
  </div>

  <div class="drive-access">
    <button class="btn btn-primary" routerLink="/drive" routerLinkActive="active">Acceder à FilEsir</button>
  </div>
  <router-outlet></router-outlet>
</div>
