
<div class="card text-center">
  <div class="card-block">
    <h4 class="card-title"> {{drive}} </h4>
    <div class="card-text">
      <a *ngIf="!account" [href]="authUrl"><button class="btn btn-primary"> Connect to {{drive}} </button></a>
    </div>
    <div *ngIf="account">
      You are log as : {{account}} <br/>
      <a href="/api/connect/{{drive}}/logout"><button class="btn btn-primary">Logout</button></a>
    </div>
  </div>
</div>
